/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@font-face{
  font-family: Dsgabriele;
  src:url('DSGabriele.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: WItalic;
  src:url('WItalic.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: Lobster;
  src:url('Lobster.otf');
  font-weight: normal;
  font-style: normal;
}
.textbox1 {
       width: 80%;
       height: 20px;
       font-family: "Times New Roman";
       font-size: 18px;
       border-style: solid;
       border-top: 0px;
       border-left: 0px;
       border-right: 0px;
     }
.textbox2 {

}
